<!DOCTYPE html>
<html lang="en">
<head>
{% include "navbar.html" %}
	<meta charset="utf-8">
	<title>This is a test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
       $(document).ready(function(){

            $('#CreateMailChimpCampaigns').click(function(){
				$("#CreateMailChimpCampaigns").prop("disabled", true);
				$("#CreateMailChimpCampaigns").html("Working...");
                $.ajax({
                  type: 'POST',
                  url: '/',
                  success: function(data){
                    alert(data);
                    $("#CreateMailChimpCampaigns").prop("disabled", false);
                    $("#CreateMailChimpCampaigns").html("Complete! Run Again?");
                  }
                });
            });

       });
  </script>
</head>


<button type="button" name="CreateMailChimpCampaigns" id="CreateMailChimpCampaigns" value="Create Mail Chimp Campaigns">Create Mail Chimp Campaigns</button>

</html>